footer.footer
    .container
        .footer-box
            a.logo(href="#") search<b>mas</b>
            ul.top-menu.menu
                li <a href="#about">О компании</a>
                li <a href="#problems">Проблемы</a>
                li <a href="#team">Команда</a>
                li <a href="#contacts">Контакты</a>
            a.policy(href="#") Политика конфиденциальности
            a.anchor(href="#top")
