doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Searchmas
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/vendors.min.css")
            link(rel="stylesheet" href="css/style.css")
    body
        .main-wrap
            .line.line-1
            .line.line-2
            .line.line-3
            .line.line-4
            .line.line-5
            block header
                include header

                .exs
                    .container
                        .exs-items
                            .exs-item
                                .exs-item-content
                                    img(src="img/star.svg" alt="")
                                    .exs-item-title 7 лет
                                    .exs-item-desc в подборе персонала для ремонта техники
                            .exs-item
                                .exs-item-content
                                    img(src="img/star.svg" alt="")
                                    .exs-item-title 500 000 +
                                    .exs-item-desc резюме по РФ в закрытой базе
                            .exs-item
                                .exs-item-content
                                    img(src="img/star.svg" alt="")
                                    .exs-item-title 8 экспертов
                                    .exs-item-desc HR с опытом<br> в ремонте<br> от 8 лет
                            .exs-item
                                .exs-item-content
                                    img(src="img/star.svg" alt="")
                                    .exs-item-title 3 месяца
                                    .exs-item-desc гарантии на каждого специалиста

                .note-1
                    .container
                        .note 
                            .title 
                                <b>Мы единственные в России, кто специализируется на трудоустройстве персонала на вакансии по ремонту техники.<i> Мы выбрали своё направление<br> и специалисты в нём.</i></b>
                                <span>Только за 2020 год мы обучили 1210 мастеров с опытом<br> и без и трудоустроили их.</span>

                .calc(style="background-image: url(img/fomr-bg.png);")
                    .container
                        .calc-box
                            .calc__left
                                .desc пройдите тест на заработок
                                .title Рассчитайте свою зарплату онлайн
                                .small Результат рассчитывается приблизительно, для получения<br> точных данных обратитесь к нам
                            .calc__right
                                form(method="POST" action="/" class="form-calc")
                                    .form-calc-step-1
                                        .title Сколько человек проживает в вашем городе?
                                        .vars
                                            label.radio-label
                                                input(type="radio" name="radio")
                                                span до 500 тыс.
                                            label.radio-label
                                                input(type="radio" name="radio")
                                                span до 1 млн.
                                            label.radio-label
                                                input(type="radio" name="radio")
                                                span до 3 млн.
                                            label.radio-label
                                                input(type="radio" name="radio")
                                                span более 3 млн.
                                        .bottom-calc
                                            .btn-next.btn-orange Далее
                                            .step-val 1/5




            block footer
                include footer
            block scripts
                script(src='js/vendors.min.js')
                script(src='js/main.js')
